@tailwind base;
@tailwind components;
@tailwind utilities;

.editorContent {
  background-color: #c6c5c5;
  color: #1a1a1a;
  width: 100%;
  height: 400px;
  flex: 1 1 0%;
}

.editorContent > * {
  height: 100%;
  width: 100%;
  outline: none;
}

.menuTools > button {
  width: 120px;
  padding: 2px;
  background-color: #c6c5c5;
}
